@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Ubuntu&display=swap&subset=cyrillic');
body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: #fafafa;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

 ::-webkit-scrollbar-track-piece {
    background-color: white;
}

 ::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: silver;
}

 ::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: silver;
}